:root {
    --subtitle-color: #2E2F42;
    --text-color: #434455;
    --title-font-family: "Roboto",
        sans-serif;
    --text-font-family: "Roboto",
        sans-serif;
        --logo-font-family: "Raleway",
            sans-serif;
            
button[type="button"] {
cursor:pointer;
}
.logo {
    color: #4D5AE5;
    padding-right: 0px;
    margin-right: 0px;
    display: inline-block;
}

.logo:nth-child(2) {
    display: inline-block;
    margin-left: -0.25em;
    color: #2E2F42;
}

}        
a {
    text-decoration: none;
}
body{
    font-family: var(--title-font-family);
}
h1,
h2{
    font-weight: 700;
}
h4{
    font-weight: 500;
}

.nav-bar{
    list-style: none;
    font-weight: 500;
    color: var(--subtitle-color);
}
/* PHONE AND EMAIL COLOR */
.global-header>a{
    color: var(--text-color);
}
/* Background color for hero section */
.hero-section {
    background-color: #2E2F42;
    height: 600px;
}
.hero-section>h1{
    color: #ffffff;
    text-align: center;
    padding-top: 182px;
    font-size: 56px;
    line-height: 3,75em;
}

.global-header{
    background-color:#E7E9FC;
    border: 1px;
    margin-bottom: -45px;
}

[href$=".html"]{
    color: var(--subtitle-color);
}

.nav-list li {
    display: inline-block;
}


.order-service{
    background-color:#4D5AE5;
    border-radius: 4px;
        width: 169px;
        height: 56px;
        text-align: center;
        color: #fff;
        margin-left: 835px;
        font-weight: 500;
        line-height: 1,5;
}

.description-tab{
    list-style: none;
}
.description-tab > li > h4{
    color: var(--subtitle-color);
}
.description-tab > li > p{
    color: var(--text-color);
}
.what-we-do{
    text-align: center;
        color: var(--subtitle-color);
}
.what-we-do-pics{
    list-style: none;
    text-align: center
}
.what-we-do-pics li{
    display: inline-block;
    padding-right: 24px;

}
.our-team{
    text-align: center;
}
.our-team-pics{
    list-style: none;
}
.our-team-pics li{
    text-align: center;
    display: inline-block;
    padding-right: 24px;
    align-items: center;
    



