.logo-first-color{
    color: #4D5AE5;
    padding-right: 0px;
    margin-right: 0px;
    display: inline-block;
}
.logo-second-color:nth-child(2){
    display: inline-block;
    margin-left: -0.25em;
}
.global-header{
    background-color:#E7E9FC;
    border: 1px;
}
.nav-bar{
    width: 261px;
    display: flex;
    
}
.nav-list {
    list-style: none;
    margin: 76;
    padding: 0;
}

.nav-list li {
    display: inline-block;
}
.hero-section{
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    margin-top: -45px;
}
.title{
    color: #fff;
    text-align: center;
    font-weight: 700;
    width: 496;
    height: 120;
    font-size: 56px;
    padding-top: 188px;
    padding-right: 472px;
    padding-left: 472px;
}
.order-service{
    background-color:#4D5AE5;
    padding-top: 48px;
    margin-left: 656px;
    margin-right: 635px;
    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        text-align: center;
        color: #fff;
}

.description-tab{
    list-style: none;
}
.what-we-do{
    text-align: center;
}
.what-we-do-pics{
    list-style: none;
    text-align: center
}
.what-we-do-pics li{
    display: inline-block;
    padding-right: 24px;
}
.our-team{
    text-align: center;
}
.our-team-pics{
    list-style: none;
}
.our-team-pics li{
    text-align: center;
    display: inline-block;
    padding-right: 24px;
    
}
    .first-card{
        margin-right: -0.1em;
    }
    .second-card{
        margin-left: -0.5em;
    }
