:root {
    --subtitle-color: #2E2F42;
    --text-color: #434455;
    --title-font-family: "Roboto",
        sans-serif;
    --text-font-family: "Roboto",
        sans-serif;
        --logo-font-family: "Raleway",
            sans-serif;
            
button[type="button"] {
cursor:pointer;
}
.logo::before{
    content: "WEB";
    color: #4D5AE5;
    font-family: var(--logo-font-family);
    font-weight: 800;
}
.logo{
    font-family: var(--logo-font-family);
    font-weight: 800;
    color: #2E2F42;
    line-height: 1,31;
}
}        
a {
    text-decoration: none;
}
body{
    font-family: var(--title-font-family);
}
h1,
h2{
    font-weight: 700;
}
h4{
    font-weight: 500;
}
/* NAV STYLING */
.nav-bar{
    list-style: none;
    font-weight: 500;
    color: var(--subtitle-color);
    display: inline-block;
}
.nav-list li {
    list-style: none;
    display: inline-block;
    line-height: 1,5;
}

/* PHONE AND EMAIL COLOR */
.global-header>a{
    color: var(--text-color);
    line-height: 1.5;
}
/* Background color for hero section */
.hero-section {
    background-color: #2E2F42;
    height: 600px;
}

.hero-section>h1{
    color: #ffffff;
    text-align: center;
    padding-top: 182px;
    font-size: 56px;
    line-height: 3.75;
}

.global-header{
    background-color:#E7E9FC;
    border: 1px;
    margin-bottom: -45px;
}

[href$=".html"]{
    color: var(--subtitle-color);
}

.order-service{
    background-color:#4D5AE5;
    border-radius: 4px;
        width: 169px;
        height: 56px;
        text-align: center;
        color: #fff;
        margin-left: 835px;
        font-weight: 500;
        line-height: 1.5;
}

.description-tab{
    list-style: none;
    line-height: 1.5;
    display: inline-flex;
}
.description-tab > li > h4{
    color: var(--subtitle-color);
    font-size: 20px;
}
.description-tab > li > p{
    color: var(--text-color);
}
.what-we-do{
    text-align: center;
        color: var(--subtitle-color);
        line-height: 2.5;
        font-size: 36px;
}
.what-we-do-pics{
    list-style: none;
    text-align: center
}
.what-we-do-pics li{
    display: inline-block;
}
.our-team{
    text-align: center;
}
.our-team-pics{
    list-style: none;
    line-height: 1.5;
}
.our-team-pics>li{
    text-align: center;
    display: inline-block;
    padding-right: 24px;
    align-items: center;
}
.address{
    line-height: 1.5;
    color: #ffffff;
}
.footer{
    background-color: #2E2F42;
    height: 312px;
    padding-top: 100px;
}
.logo-footer::before{
    content: "WEB";
    color: #4D5AE5;
    font-family: var(--logo-font-family);
    font-weight: 800;
}
.logo-footer{
    font-family: var(--logo-font-family);
        font-weight: 800;
        color: #ffffff;
        line-height: 1.31;  
}
/* Portofolio only */
.portofolio-buttons{
    text-align: center;
}
.portofolio-buttons>li{
    list-style: none;
}
/* Image list */
.portofolio-list-one{
    list-style: none;
    display: flex;
}
.portofolio-list-one>li>h4{
color: var(--subtitle-color)
}
.portofolio-list-one>li>p{
    color: var(--text-color)
}
.portofolio-list-two {
    list-style: none;
    display: flex;
}

.portofolio-list-two>li>h4 {
    color: var(--subtitle-color)
}

.portofolio-list-two>li>p {
    color: var(--text-color)
}
.portofolio-list-three {
    list-style: none;
    display: flex;
}

.portofolio-list-three>li>h4 {
    color: var(--subtitle-color)
}

.portofolio-list-three>li>p {
    color: var(--text-color)
}
.filters{
    margin-top: 50px;
}